.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: blue;
    flex: 1;
}

.App-title {
    font-size: 1.5em;
    margin: 20px;
}
