.App-intro {
    font-size: large;
}

.Form {
    width: 80%;
    margin: auto;
    margin-top: 200px
}

.input {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    font-family: sans-serif;
    border: 0.5px;
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.submitButton {
    padding: 15px;
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    background: orange;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.liste {
    list-style-type: none;
}

@media (max-width: 600px) {
    .form {
        margin: 0;
    }
    .input {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }
    .submitButton {
        border-radius: 5px;
        width: 100%;
        position: static;
        margin-top: 5px;
        padding: 10px;
    }
}